@import "tailwindcss";

@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1020px;
    --breakpoint-xl: 1440px;

    --color-softBlue: hsl(231, 69%, 60%);
    --color-softRed: hsl(0, 94%, 66%);
    --color-grayishBlue: hsl(229, 8%, 60%);
    --color-veryDarkBlue: hsl(229, 31%, 21%);

    --font-sans: 'Rubik', sans-serif;

    --background-image-dots: url("./images/bg-dots.svg");
}

/* @layer base {
    @variant dark {
      --color-pink: #8e0d7a;
    }
} */

@media (min-width: 1020px) {
    .bg-hero {
        width: 2000px;
        height: 300px;
        left: 30%;
        @apply absolute rounded-l-full top-52 bg-softBlue;
    }
}

.bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
}
